<div class="container">
    <div class="row">
      <p>カートアイテム一覧</p>
    </div>
    <div class="row">
      <p><%= link_to "カートを空にする", cart_item_destroy_all_path, method: :delete, "data-confirm" => "本当に削除しますか？"%></p>
    </div>
    <div class="row">
      <table>
            <tr>
                  <th> 商品名 </th>
                  <th></th>
                  <th> 税込価格 </th>
                  <th> 数量 </th>
                  <th></th>
                  <th> 小計 </th>
            </tr>
            <% @cart_items.each do |item| %>
            <tr>
                  <th> <%= attachment_image_tag item.item, :image, size: "100x100" %> </th>
                  <th> <%= item.item.name %> </th>
                  <th> <%= item.item.price.*(1.1).round %><%="円"%> </th>

            <%= form_with(url: cart_item_path(item), method: :patch,local: true) do |f| %>
                  <th> <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10], selected: item.amount %> </th>
                  <th> <%= f.submit "変更"%> </th>
                  <% end %>
                  <th> <%= (item.item.price).*(item.amount).*(1.1).round %><%= "円"%> </th>
                  <th> <%= link_to "削除する", cart_item_path(item), method: :delete %> </th>
            </tr>
            <% end %>
      </table>
      </div>
      <div class="row">
            <p><%="合計金額"%></p>
            <p><%=@total%>円</p>
      </div>
      <div class="row">
            <p><%= link_to "買い物を続ける", root_path %></p>
      </div>
      <div class="row">
            <p><%= link_to "情報入力に進む", new_order_path %></p>
      </div>
      </div>
</div>