<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">
      <div class="container-fluid">
      <ul class="navbar-nav mr-auto">
        <%= link_to (root_path) do %>
            <li class="nav-item font-weight-bold">LOGO</li>
        <%end%>
      </ul>


     
      <ul class="nav navbar-nav navbar-right wf-mplus1p">
        <% if end_user_signed_in? %>

            <li><%= link_to mypage_path do %><i class="fas fa-user"></i>マイページ<% end %></li>
            <li><%= link_to items_path do %><i class="fas fa-cookie-bite"></i>商品一覧<% end %></li>
            <li><%= link_to cart_items_path do %><i class="fas fa-cart-plus"></i>カート<% end %></li>
            <li><%= link_to destroy_end_user_session_path, method: :delete do %><i class="fas fa-sign-out-alt"></i>ログアウト<% end %></li>

        <% elsif admin_signed_in? %>
            <li class = "nav-item"><%= link_to '商品一覧', admin_items_path %></li>
            <li class = "nav-item"><%= link_to '会員一覧', admin_customers_path%></li>
            <li class = "nav-item"><%= link_to '注文履歴一覧', admin_top_path %></li>
            <li class = "nav-item"><%= link_to 'ジャンル一覧', admin_genres_path %></li>
            <li class = "nav-item"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
            <li>
                  <%= form_with url: admin_items_path, method: :get, local: true do |form| %>
                    <%= form.text_field :search %>
                    <%= form.submit 'Search', :name => nil %>
                  <% end %>
            </li>
        <% else %>
          <li class = "nav-item"><%= link_to 'About' %></li>
          <li class = "nav-item"><%= link_to '商品一覧', items_path %></li>
          <li class = "nav-item"><%= link_to '新規登録',new_end_user_registration_path %></li>
          <li class = "nav-item"><%= link_to 'ログイン', end_user_session_path %></li>
        <% end %>
      </ul>
      </div>
    </nav>
</header>