<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <%= link_to (admin_top_path) do %>
        <span>LOGO</span>
      <%end%>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if admin_signed_in? %>
            <li><%= link_to '商品一覧' %></li>
            <li><%= link_to '会員一覧'%></li>
            <li><%= link_to '注文履歴一覧'%></li>
            <li><%= link_to 'ジャンル一覧'%></li>
            <li><%= link_to 'ログアウト',  destroy_admin_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to 'About' %></li>
              <li><%= link_to '商品一覧' %></li>
              <li><%= link_to '新規登録',new_admin_registration_path %></li>
              <li><%= link_to 'ログイン', admin_session_path %></li>
        <% end %>


        <% end %>
      </ul>
    </nav>
  </div>
</header>